td{
  background: black;
  height: 200px;
  width: 150px;
  border: 6px solid white;

}

h1{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.art{
  margin: auto;

}

#one{
  background: #256EFF;
}

#two{
  background: #715AFF;
}

#three{
  background: #3DDC97;
}

#four{
  background: #FF495C;
}

#five{
  background : #46237A;
}
